extends layout

block content
	h1.title Content Management

	h2 Name
	label First Name:  
		span.f_name
	br
	br
	
	label Last Name:  
		span.l_name
	br

	h2 Delivery
	label Adress:  
		span.address
	br
	br
	
	label City:  
		span.city
	br
	br
	
	label Zip:  
		span.zip
	br

	h2 Billing
	label Card Number:  
		span.card_num
	br
	br
	
	label Expiry Date:  
		span.expiry_date
	br
	br
	
	label CSV Number:  
		span.csv
	br
	br
	
	span.button
		

