doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/contact_edit.js"></script>

	body
		block content
